<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.klok.mobpos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AdminAreaActivity"/>
        <activity android:name=".ManagerAreaActivity" />
        <activity android:name=".UserAreaActivity" />
        <activity android:name=".BillingActivity" />
        <activity android:name=".ReportsActivity" />
        <activity android:name=".MastersActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PayCollectActivity"></activity>
    </application>

</manifest>